.container{
    @apply bg-transparent w-[100%] min-h-[100vh] text-white flex flex-col items-start;
}
.container h1{
    @apply pt-[4rem] font-semibold text-[2rem] text-white border-solid border-b-secondary border-b-[2px]
}
.container h1 {
    max-height: fit-content;
}
.container h2{
    @apply text-white text-[1.2rem] font-[400] pt-1 pb-5
}
.containerUrl{
    @apply hidden
}
.containerUrl a{
    @apply no-underline text-white cursor-pointer transition-all transform duration-500 hover:scale-x-[102%]
}
.containerUrl span{
    @apply text-[1.5rem]
}
.containerUrl .urlActive{
    @apply text-white font-medium
}

.containerSetting{
    @apply flex flex-col items-start justify-start w-full bg-bgGrey  p-5 h-[100vh] shadow-[0_4px_4px_0px_rgba(0,0,0,0.25)];
    transition: .5s;
}
.containerSetting p{
    @apply text-white
}

.no-welcome {
    transition: .5s;
    display: none;
}

.containerList{
    @apply relative flex justify-between pt-[1rem] gap-[2rem] h-[100%] w-[100%];
    overflow-y: scroll;
}
.containerList::-webkit-scrollbar {
    width: 6px;
}
.containerList::-webkit-scrollbar-track {
    @apply bg-transparent
}
.containerList::-webkit-scrollbar-thumb {
    @apply bg-[#13151876] rounded-[20px] hover:bg-bgDefault
}
.tab{
    @apply flex items-start justify-between absolute w-[100%] transition-all
}
.tab .labelCheck{
    @apply flex w-full items-center justify-between h-16 relative top-[1px] z-[3] text-start px-[1.5rem] py-[0.5rem] no-underline cursor-pointer text-white text-[1.1rem] font-medium rounded-[8px] transition-all transform duration-500 hover:bg-hoverColor active:bg-[#3FAFFE34]
}
.tab .labelCheck svg{
    @apply text-secondary mr-5 w-6
}
.arrowRight{
    @apply ml-auto !mr-0
}
.tab:nth-of-type(1) .labelCheck{
    top: 0;
}
.tab:nth-of-type(2) .labelCheck{
    top: 5rem;
}
.tab:nth-of-type(3) .labelCheck{
    top: calc(2 * 5rem);
}
.tab .divRight{
    @apply fixed bg-bgGrey z-50 hidden top-0 right-[-500px] h-[100%] px-[2rem] pt-[5rem] text-start overflow-hidden !transition-all;

}
.inputCheck:checked + .labelCheck {
    @apply text-white bg-[#3FAFFE34] border-none rounded-[8px];
}
.inputCheck:checked ~ .divRight{
    @apply block w-[100%] right-0 !transition-all;
}
.labelCheckResponsive{
    @apply absolute flex items-center justify-center top-[1.25rem] left-0 w-full text-center text-[1.2rem] font-semibold
}
.labelCheckResponsive svg{
    @apply absolute h-[2rem] w-[2rem] left-[1.25rem]
}
.divRight h3{
    @apply text-[--blue-dark] text-[1.5rem] font-semibold !transition-all
}
.divRight button{
    @apply bg-secondary rounded-lg h-10 px-[2rem] mt-5 text-white !transition-all
}

.inputCheck, .inputCheckResponsive{
    @apply !hidden !transition-all;
}


@media (max-width: 640px){
    .loading-animation {
        width: 150px;
        height: 200px;
    }
}

@screen lg{
    .container{
        @apply bg-transparent w-[80%] min-h-[100vh] py-[4rem] mx-auto text-white flex flex-col items-start;
    }
    .container h1{
        @apply text-[2.8rem] pr-[4rem] pt-0
    }
    .container h2{
        @apply h-[10%] text-[1.5rem];
    }
    .tab .labelCheck{
        @apply text-[1.3rem] justify-start;
        width: fit-content;
    }
    .containerUrl{
        @apply flex flex-wrap items-center gap-2 pl-5 py-3 text-[1rem] font-normal
    }
    .tab .divRight{
        @apply relative w-[60%] h-[100%] pl-[4rem] pt-0 z-[1]
    }
    .inputCheck:checked ~ .divRight{
        @apply block w-[60%] right-0 !transition-all;
    }
    .containerSetting{
        @apply rounded-2xl h-[100%]
    }
    .labelCheckResponsive{
        @apply hidden
    }
    .containerList{
        @apply min-h-[50vh]
    }
    .arrowRight{
        @apply hidden
    }
}
@screen lg{
    .form {
        @apply max-w-[350px];
    }
}
@screen xl{
    .btn{
        @apply  text-[18px];
    }
}
@screen 2xl{
    .form {
        @apply max-w-[400px];
    }
}
