.container{
    @apply bg-transparent w-[80%] h-[100vh] py-[4rem] mx-auto text-white flex flex-col items-start;
}
.container h1{
    @apply text-[2.8rem] text-white border-solid border-b-secondary border-b-[2px] pr-[4rem]
}
.container h1 {
    max-height: fit-content;
}
.container h2{
    @apply text-white h-[10%] text-[1.5rem] font-[400] pt-1 pb-5
}
.containerUrl{
    @apply flex items-center gap-2 pl-5 py-3
}
.containerUrl a{
    @apply cursor-pointer hover:underline
}
.containerUrl span{
    @apply text-[1.5rem]
}

.containerSetting{
    @apply bg-bgDashboard rounded-2xl p-5 h-[100%] shadow-[0_4px_4px_0px_rgba(0,0,0,0.25)]
}
.containerSetting p, .containerSetting em{
    @apply text-white
}
.containerSetting {
    transition: .5s;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-content: flex-start;
}

.characters_welcome p {
    text-align: center;
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
}
.characters_welcome em {
    font-weight: bold;
    margin-top: 25px;
    font-size: 20px;
}
.no-welcome {
    transition: .5s;
    display: none;
}
.container-img {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.containerList{
    @apply relative flex justify-between pt-[1rem] gap-[2rem] h-[100%] w-[100%];
    overflow-y: scroll;
}
.containerList::-webkit-scrollbar {
    width: 6px;
}
.containerList::-webkit-scrollbar-track {
    @apply bg-transparent
}
.containerList::-webkit-scrollbar-thumb {
    @apply bg-[#13151876] rounded-[20px] hover:bg-bgDefault
}
.tab{
    @apply flex items-start absolute w-[100%]
}
.inputCheck{
    @apply hidden;
}
.tab .labelCheck{
    @apply flex items-center gap-2 relative top-[1px] z-[3] w-[40%] text-start pl-[1rem] py-[0.5rem] no-underline cursor-pointer text-white text-[1.3rem] font-[500] rounded-[8px] hover:bg-[#3FAFFE34]
}
.tab:nth-of-type(1) .labelCheck{
    top: 0;
}
.tab:nth-of-type(2) .labelCheck{
    top: 4rem;
}
.tab:nth-of-type(3) .labelCheck{
    top: calc(2 * 4rem);
}
.tab .divRight{
    @apply relative hidden top-0 left-0 w-[60%] h-[100%] px-[2rem] pl-[4rem] text-start
}
.inputCheck:checked + .labelCheck {
    @apply text-white bg-[#3FAFFE34] border-none rounded-[8px];
}
.inputCheck:checked ~ .divRight{
    @apply block
}
.divRight h3{
    @apply text-[--blue-dark] text-[1.5rem] font-[700]
}
.divRight button{
    @apply bg-secondary rounded-lg h-10 px-[2rem] mt-5 text-white
}
.divRight input{
    @apply !flex
}

@media (max-width: 640px){
    .characters_welcome {
        width: 95%;
    }
    .loading-animation {
        width: 150px;
        height: 200px;
    }
}
