.container {
  @apply flex min-h-[100vh] w-[100%] flex-col items-start bg-transparent text-white;
}
.container h1 {
  @apply border-b-[2px] border-solid border-b-secondary pt-[4rem] text-[2rem] font-semibold text-white;
}
.container h1 {
  max-height: fit-content;
}
.container h2 {
  @apply pb-5 pt-1 text-[1.2rem] font-[400] text-white;
}
.containerUrl {
  @apply hidden;
}
.containerUrl a {
  @apply transform cursor-pointer text-white no-underline transition-all duration-500 hover:scale-x-[102%];
}
.containerUrl span {
  @apply text-[1.5rem];
}
.containerUrl .urlActive {
  @apply font-medium text-white;
}

.containerSetting {
  @apply flex h-[100vh] w-full flex-col items-start justify-start bg-bgGrey p-5 shadow-[0_4px_4px_0px_rgba(0,0,0,0.25)];
  transition: 0.5s;
}
.containerSetting p {
  @apply text-white;
}

.no-welcome {
  transition: 0.5s;
  display: none;
}

.containerList {
  @apply relative flex h-[100%] w-[100%] justify-between gap-[2rem] pt-[1rem];
  overflow-y: scroll;
}
.containerList::-webkit-scrollbar {
  width: 6px;
}
.containerList::-webkit-scrollbar-track {
  @apply bg-transparent;
}
.containerList::-webkit-scrollbar-thumb {
  @apply rounded-[20px] bg-[#13151876] hover:bg-bgDefault;
}
.tab {
  @apply absolute flex w-[100%] items-start justify-between transition-all;
}
.tab .labelCheck {
  @apply relative top-[1px] z-[3] flex h-16 w-full transform cursor-pointer items-center justify-between rounded-[8px] px-[1.5rem] py-[0.5rem] text-start text-[1.1rem] font-medium text-white no-underline transition-all duration-500 hover:bg-hoverColor active:bg-[#3FAFFE34];
}
.tab .labelCheck svg {
  @apply mr-5 w-6 text-secondary;
}
.arrowRight {
  @apply !mr-0 ml-auto;
}
.tab:nth-of-type(1) .labelCheck {
  top: 0;
}
.tab:nth-of-type(2) .labelCheck {
  top: 5rem;
}
.tab:nth-of-type(3) .labelCheck {
  top: calc(2 * 5rem);
}
.tab .divRight {
  @apply fixed right-[-500px] top-0 z-50 hidden h-[100%] overflow-hidden bg-bgGrey px-[2rem] pt-[5rem] text-start !transition-all;
}
.inputCheck:checked + .labelCheck {
  @apply rounded-[8px] border-none bg-[#3FAFFE34] text-white;
}
.inputCheck:checked ~ .divRight {
  @apply right-0 block w-[100%] !transition-all;
}
.labelCheckResponsive {
  @apply absolute left-0 top-[1.25rem] flex w-full items-center justify-center text-center text-[1.2rem] font-semibold;
}
.labelCheckResponsive svg {
  @apply absolute left-[1.25rem] h-[2rem] w-[2rem];
}
.divRight h3 {
  @apply text-[1.5rem] font-semibold text-[--blue-dark] !transition-all;
}
.divRight button {
  @apply mt-5 h-10 rounded-lg bg-secondary px-[2rem] text-white !transition-all;
}

.inputCheck,
.inputCheckResponsive {
  @apply !hidden !transition-all;
}

@media (max-width: 640px) {
  .loading-animation {
    width: 150px;
    height: 200px;
  }
}

@screen lg {
  .container {
    @apply mx-auto flex min-h-[100vh] w-[80%] flex-col items-start bg-transparent py-[4rem] text-white;
  }
  .container h1 {
    @apply pr-[4rem] pt-0 text-[2.8rem];
  }
  .container h2 {
    @apply h-[10%] text-[1.5rem];
  }
  .tab .labelCheck {
    @apply justify-start text-[1.3rem];
    width: fit-content;
  }
  .containerUrl {
    @apply flex flex-wrap items-center gap-2 py-3 pl-5 text-[1rem] font-normal;
  }
  .tab .divRight {
    @apply relative z-[1] h-[100%] w-[60%] pl-[4rem] pt-0;
  }
  .inputCheck:checked ~ .divRight {
    @apply right-0 block w-[60%] !transition-all;
  }
  .containerSetting {
    @apply h-[100%] rounded-2xl;
  }
  .labelCheckResponsive {
    @apply hidden;
  }
  .containerList {
    @apply min-h-[50vh];
  }
  .arrowRight {
    @apply hidden;
  }
}
@screen lg {
  .form {
    @apply max-w-[350px];
  }
}
@screen xl {
  .btn {
    @apply text-[18px];
  }
}
@screen 2xl {
  .form {
    @apply max-w-[400px];
  }
}
