.container {
  @apply flex min-h-[100vh] w-[100%] flex-col items-start bg-transparent text-white;
}
.container h1 {
  @apply border-b-[2px] border-solid border-b-secondary pt-[4rem] text-[2rem] font-semibold text-white;
  max-height: fit-content;
}
.container h2 {
  @apply pb-5 pt-1 text-[1.2rem] font-[400] text-white;
}
.containerUrl {
  @apply hidden;
}
.containerUrl a {
  @apply transform cursor-pointer text-white no-underline transition-all duration-500 hover:scale-x-[102%];
}
.containerUrl span {
  @apply text-[1.5rem];
}
.containerUrl .urlActive {
  @apply font-medium text-white;
}

.containerProfile {
  @apply flex min-h-[100vh] w-full flex-col items-start justify-between bg-bgGrey p-5 shadow-[0_4px_4px_0px_rgba(0,0,0,0.25)];
  transition: 0.5s;
}
.containerProfile p {
  @apply text-white;
}
.containerProfile a {
  @apply mx-auto flex h-12 w-full max-w-[25rem] transform items-center justify-center rounded-lg border-1 border-[none] border-secondary px-[1.3em] py-2 text-[1rem] font-medium tracking-wider text-secondary shadow-[0_4px_4px_0px_rgba(0,0,0,0.25)] transition-all duration-500 hover:bg-hoverButtonBlue hover:text-white active:scale-[98%];
}

.no-welcome {
  transition: 0.5s;
  display: none;
}

.containerList {
  @apply relative mx-auto flex h-full w-full max-w-[25rem] flex-col items-center justify-center gap-4 py-[2rem];
  overflow-y: scroll;
}
.containerList::-webkit-scrollbar {
  width: 6px;
}
.containerList::-webkit-scrollbar-track {
  @apply bg-transparent;
}
.containerList::-webkit-scrollbar-thumb {
  @apply rounded-[20px] bg-[#13151876] hover:bg-bgDefault;
}
.containerList div {
  @apply grid w-full grid-cols-1 gap-1;
}
.hiddenInput {
  @apply invisible hidden h-0 w-0;
}
.infoUser {
  @apply rounded-[8px] border-2 border-borderInput bg-bgInputDisabled px-4 py-2 !text-left font-normal !text-white;
}
.containerButtons {
  @apply mx-auto flex w-full max-w-[25rem] items-center justify-center gap-4;
}
.containerButtons a {
  @apply w-[12rem] px-4;
}
.password {
  @apply bg-secondary !text-center leading-[1.2] !text-white;
}
.containerImg {
  @apply relative mx-auto !flex flex-col items-center justify-center gap-4;
}
.profileImage {
  @apply h-20 w-20 rounded-[100px];
}
.pencil {
  @apply absolute h-[2rem] w-[2rem] cursor-pointer;
  bottom: 50%;
  right: 50%;
  transform: translate(140%, 150%);
}

@media (max-width: 640px) {
  .loading-animation {
    width: 150px;
    height: 200px;
  }
}

@screen md {
  .container {
    @apply mx-auto flex min-h-[100vh] w-[80%] flex-col items-start bg-transparent py-[4rem] text-white;
  }
  .container h1 {
    @apply pr-[4rem] pt-0 text-[2.8rem];
  }
  .container h2 {
    @apply h-[10%] text-[1.5rem];
  }
  .containerUrl {
    @apply flex flex-wrap items-center gap-2 py-3 pl-5 text-[1rem] font-normal;
  }
  .containerProfile {
    @apply h-[100%] min-h-[60vh] rounded-2xl;
  }
  .containerList p:nth-child(2) {
    @apply text-center;
  }
  .containerList {
    @apply min-h-[50vh];
  }
  .arrowRight {
    @apply hidden;
  }
  .containerProfile a {
    @apply mb-5;
  }
  .pencil {
    @apply h-[1.6rem] w-[1.6rem];
    transform: translate(180%, 160%);
  }
}
