.container{
    @apply h-screen flex items-center px-1 justify-center
}
.form {
    @apply shadow-[0_0_10px_rgba(0,0,0,0.25)] backdrop-blur-[10px] p-2 rounded-md min-h-[300px] flex flex-col justify-around max-w-[250px];
    background: rgba(255, 255, 255, 0.05);
}
.containerDescription{
    @apply text-white text-center
}
.form button{
    @apply text-white bg-secondary mx-4 rounded p-1
}
.containerDescription h1{
    @apply text-lg font-bold p-2
}
.input{
    @apply px-[16px] text-white my-2
}
.input input{
    @apply w-full mt-2 rounded-md h-12 border p-2;
    background: rgba(255, 255, 255, 0.05);
}
.input p{
    @apply text-[12px] p-2 text-white
}
.message{
    @apply text-white text-center w-[300px] shadow-[0_0_10px_rgba(0,0,0,0.25)] backdrop-blur-[10px] p-4;
    background: rgba(255, 255, 255, 0.05);
}
@screen md{
    .form {
        @apply max-w-[300px] min-h-[350px];

    }
}
@screen lg{
    .form {
        @apply max-w-[350px] min-h-[400px];
    }

}

@screen 2xl{
    .form {
        @apply max-w-[400px] min-h-[450px];
    }

    .input label{
        @apply  text-lg
    }
}
