.container {
  @apply fixed bottom-0 left-[-60px] top-0 z-50 flex w-[0px] flex-col items-center justify-between overflow-hidden rounded bg-accent px-2 py-[2rem] font-poppins shadow-[0_4px_4px_0px_rgba(0,0,0,0.25)] transition-all;
}
.navResponsive {
  @apply fixed left-3 top-5 z-50 !m-0 h-8 w-6 cursor-pointer transition-all;
}
.navActive {
  @apply calculateWidth left-0 !important;
}
.navActive .navResponsive {
  @apply z-[-1] transition-all duration-0;
}

.logo {
  @apply !w-[4rem];
}
.container nav {
  @apply relative w-full pb-8;
}

.container nav .openMenu {
  @apply w-full;
}

.container nav .openMenu img,
.container nav .openMenu svg {
  @apply m-auto mt-5 h-8 w-6 cursor-pointer transition-all;
}

.container nav .openMenu .rotateIcon {
  @apply -rotate-180 transform;
}

.container nav .iconUser {
  @apply relative max-w-[60px];
}

.container nav .iconUser p {
  @apply centerAlign absolute left-[70px] text-white;
}
.container nav .iconUser .dropdown {
  @apply centerAlign absolute left-[300px] m-0 h-6 w-6;
}

.container nav .iconUser img {
  @apply m-auto mt-5 h-10 w-10 rounded-full;
}

.container nav ul {
  @apply relative mx-2 mt-5 grid grid-cols-1 gap-2;
}

.selectedItem {
  @apply rounded-md bg-hoverButtonBlue py-2;
}
.container nav ul li {
  @apply cursor-pointer py-2;
}

.container nav ul li:nth-child(2) {
  @apply mt-6 rounded bg-hoverButtonBlue;
}
.container nav ul a:nth-child(2) {
}
.container nav ul li:hover {
  @apply rounded bg-secondary;
}

.container nav ul a {
  @apply relative block cursor-pointer;
}
.container nav ul a .imgNav {
  @apply max-w-[60px];
}

.container nav ul a p {
  @apply centerAlign absolute left-[70px] top-0 text-white;
}

.container nav ul a svg {
  @apply m-auto h-6 w-6 text-white;
}

.lineOne {
  @apply absolute left-1/2 top-0 h-[0.5px] w-[90%] -translate-x-1/2 transform bg-grayLight;
}
.lineTwo {
  @apply absolute bottom-0 left-1/2 h-[0.5px] w-[90%] -translate-x-1/2 transform bg-grayLight;
}

/*Re usable classes*/

.centerAlign {
  @apply top-1/2 -translate-y-1/2 transform;
}

.calculateWidth {
  width: calc(100% - 25%);
}

.calculateHeight {
  height: calc(100vh - 8px);
}

@screen sm {
  .container {
    @apply w-[80px];
  }

  .container p {
    @apply font-medium;
  }

  .container nav .openMenu {
  }

  .container nav .iconUser {
    @apply max-w-[70px];
  }

  .container nav .iconUser p {
    @apply left-[80px];
  }
  .container nav ul a .imgNav {
    @apply max-w-[70px];
  }

  .container nav ul a p {
    @apply left-[80px];
  }

  /*Re usable classes*/
  .calculateWidth {
    width: calc(70% - 10px);
  }
}
@screen md {
  .container {
    @apply fixed left-0;
  }
  .navResponsive {
    @apply hidden;
  }
}

@screen lg {
  /*Re usable classes*/

  .calculateWidth {
    width: calc(30% - 10px);
  }
}

@screen 2xl {
  .calculateWidth {
    width: calc(20% - 10px);
  }
}
