.charactersWelcome{
	@apply bg-transparent w-[80%] h-[100vh] py-[4rem] mx-auto text-white flex flex-col items-start
}
.charactersWelcome h1{
	@apply text-[3rem] text-black  border-solid border-b-secondary border-b-[2px] pr-[4rem]
}
.charactersWelcome h1 {
	max-height: fit-content;
	-webkit-text-stroke: 1px yellow;
}
.charactersWelcome h2{
	@apply text-white h-[10%] text-[1.5rem] font-[400] pt-1 pb-5
}


.welcomeDetail{
	@apply bg-bgDashboard rounded-2xl p-5 h-[100%] shadow-[0_4px_4px_0px_rgba(0,0,0,0.25)]
}
.welcomeDetail p, .welcomeDetail em{
	@apply text-white
}
.welcomeDetail {
	transition: .5s;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
}
.characters_welcome p {
	text-align: center;
	margin-top: 10px;
	font-size: 22px;
	font-weight: bold;
}
.characters_welcome em {
	font-weight: bold;
	margin-top: 25px;
	font-size: 20px;
}
.no-welcome {
	transition: .5s;
	display: none;
}
.container-img {
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
}

@media (max-width: 640px){
	.characters_welcome {
		width: 95%;
	}
	.loading-animation {
		width: 150px;
		height: 200px;
	}
}
