.charactersWelcome{
	@apply bg-transparent mt-5 w-[90%] min-h-[80vh] pb-[4rem] mx-auto text-white flex flex-col items-center
}
.charactersWelcome h1{
	@apply pb-[1.5rem] w-full font-semibold text-[1.5rem] text-white border-solid border-b-secondary border-b-[2px] text-center

}
.charactersWelcome h1 {
	max-height: fit-content;
}
.charactersWelcome h2{
	@apply text-white text-[1rem] font-normal pb-3 text-center
}


.welcomeDetail{
	@apply bg-bgGrey rounded-2xl p-5 h-full shadow-[0_4px_4px_0px_rgba(0,0,0,0.25)]
}
.welcomeDetail p, .welcomeDetail em{
	@apply text-white
}
.welcomeDetail {
	transition: .5s;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
}
.characters_welcome p {
	text-align: center;
	margin-top: 10px;
	font-size: 22px;
	font-weight: bold;
}
.characters_welcome em {
	font-weight: bold;
	margin-top: 25px;
	font-size: 20px;
}
.no-welcome {
	transition: .5s;
	display: none;
}
.container-img {
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
}

@media (max-width: 640px){
	.characters_welcome {
		width: 95%;
	}
	.loading-animation {
		width: 150px;
		height: 200px;
	}
}

@screen md{
	.charactersWelcome{
		@apply pt-[4rem] mt-0 items-start justify-start min-h-[100vh]
	}
	.charactersWelcome h1{
		@apply pb-0 text-[3rem] pr-[4rem] py-0 h-[4.2rem] text-start text-white;
		width: fit-content;
	}
	.charactersWelcome h2{
		@apply h-[10%] text-[1.5rem] text-start pb-5
	}
}
@screen 2xl {
	.charactersWelcome {
		@apply max-w-[1500px] m-auto ;
	}
}
