
.container{
    @apply h-screen flex items-center px-1 justify-center 
   }
   
   .form {
       @apply shadow-[0_0_10px_rgba(0,0,0,0.25)] backdrop-blur-[10px] p-2 rounded-md min-h-[300px] flex flex-col justify-around max-w-[250px];
       background: rgba(255, 255, 255, 0.05);
     }
     
   .input{
    @apply px-[16px] text-white my-2
   }
   
   .input input{
    @apply w-full mt-2 rounded-md h-12 border p-2;
    background: rgba(255, 255, 255, 0.05);
   }
   .input p{
       @apply text-[12px] p-2 text-warning
   }
   
   .containerBtn{
       @apply  flex justify-center
   }
   .btn{
    @apply flex items-center font-medium text-[12px] text-[white] tracking-wider pl-[0.9em] pr-[1.3em] py-[0.8em] rounded-2xl border-[none] bg-[#ad5389] ;
    background: linear-gradient(to right, #9747FF, #be97f1, #7218e9);
   }
   .btn img {
    @apply mr-[3px] w-[22px] h-[22px] transition-transform duration-[0.5s];
   }
   
   .btn span{
    @apply transition-transform duration-[0.5s];
   }
   .btn:hover img {
    @apply translate-x-[5px] rotate-[50deg];
   }
   .btn:hover span {
    @apply translate-x-[7px];
   }
   
   .containerRegister{
       @apply text-white text-xs flex justify-center  underline
   }
   
   @screen md{
       .form {
           @apply max-w-[300px] min-h-[350px];
          
         }
         .btn{
           @apply  text-[16px];
          }
          .btn img {
           @apply  w-[26px] h-[26px];
          }
         
   }
   @screen lg{
       .form {
           @apply max-w-[350px] min-h-[400px];
         }
         
   }
   @screen xl{
       .btn{
           @apply  text-[18px];
          }
       .btn img {
           @apply  w-[32px] h-[32px];
          }
          
   }