.container {
  @apply flex h-full w-full flex-col items-center justify-center;
}
.container h1 {
  @apply m-0 p-0 px-[2rem] text-[8rem] text-[#FFFFFF];
  border-bottom: #3faffe solid 2px;
  font-weight: bolder;
  font-style: italic;
  height: 10rem;
}
.container h2 {
  @apply m-0 p-0 pb-4 pt-2 text-[1.5rem] font-[400] text-[#FFFFFF];
  font-weight: normal;
}
.container a {
  @apply mx-auto my-2 mb-5 flex h-12 transform items-center justify-center rounded-lg border-[none] bg-[#3FAFFE] px-[1.3em] text-[1rem] font-medium tracking-wider !text-[#FFFFFF] shadow-[0_4px_4px_0px_rgba(0,0,0,0.25)] transition-all duration-500 hover:bg-[#74C5FF] active:scale-[98%];
  text-decoration: none;
}

@screen md {
  .container a {
    @apply text-[16px];
  }
  .container h1 {
    @apply text-[10rem];
    height: 13rem;
  }
}
@screen xl {
  .containerv a {
    @apply text-[18px];
  }
}
